<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key><string>app-store-connect</string>
  <key>destination</key><string>export</string>
  <key>signingStyle</key><string>manual</string>
  <key>teamID</key><string>3LTL47SJ8C</string>
  <key>signingCertificate</key><string>C3EF173D8759786213B22C7BE6E151DA97CADD23</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>com.legitimateapps.ReadAnythingAloud</key><string>f7e4cef4-0751-4b6c-9793-a94006de8a5c</string>
    <key>com.legitimateapps.ReadAnythingAloud.Share</key><string>ce716df6-3bfd-4cd8-8fbc-cb8d7feae4c1</string>
  </dict>
  <key>uploadSymbols</key><true/>
  <key>stripSwiftSymbols</key><true/>
</dict>
</plist>
